<a href="https://colab.research.google.com/github/anindabitm/InstaDeep-Enzyme-Classification-Challenge/blob/main/Ensemble.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import re
import os
import gc
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pickle
from sklearn.model_selection import train_test_split,StratifiedKFold
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.regularizers import l2
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical,plot_model
from keras.layers import Dense, Input, GlobalMaxPooling1D,Layer,GlobalAveragePooling1D
from keras.layers import Conv1D, MaxPooling1D, Embedding, LSTM,Input,Bidirectional,Dropout,Add,BatchNormalization,Activation,Flatten,Attention,Concatenate
from keras.models import Model, Sequential
from keras.initializers import Constant
from keras import metrics,layers

In [ ]:
import os
os.chdir('/content/drive/My Drive/instadeep')

# Prediction

In [ ]:
test = pd.read_csv('Test.csv')
print(test.shape)
test.head()

(253146, 3)

  SEQUENCE_ID                                           SEQUENCE   CREATURE
0    000LRRAI  MKLPVKRYAVAAIVALGVSMAPGELRTSPEAQIKIATREECRATPY...  creature7
1    000O8L4W  MKISVFGSGYVGLVQAAVLAEVGHDVVCMDIDKVKVEQLSQGQVHI...  creature6
2    000UKB5J  MTMKVGFIGLGIMGKPMSKNLLKAGYSLVVADRNPEAIADVIAAGA...  creature7
3    00111SLH  MTVSLSRLERQLGYTFKDQELMILALTHRSFAGRNNERLEFLGDAI...  creature6
4    001ELB0A  MSKIRVLSVDDSALMRQIMTEIINSHSDMEMVATAPDPLVARDLIK...  creature7

In [ ]:
ss = pd.read_csv('SampleSubmission.csv')
ss.head()

  SEQUENCE_ID  LABEL
0    000LRRAI    NaN
1    000O8L4W    NaN
2    000UKB5J    NaN
3    00111SLH    NaN
4    001ELB0A    NaN

In [ ]:
fold1 = pd.read_csv('preds_fold_post1.csv')
fold2 = pd.read_csv('preds_fold_post2.csv')
fold3 = pd.read_csv('preds_fold_post3.csv')
fold4 = pd.read_csv('preds_fold_post4.csv')
fold5 = pd.read_csv('preds_fold_post5.csv')

In [ ]:
fold6 = pd.read_csv('preds_fold1.csv')
fold7 = pd.read_csv('preds_fold2.csv')
fold8 = pd.read_csv('preds_fold3.csv')
fold9 = pd.read_csv('preds_fold4.csv')
fold10 = pd.read_csv('preds_fold5.csv')

In [ ]:
preds = (fold1.values + fold2.values + fold3.values + fold4.values + fold5.values + fold6.values + fold7.values + fold8.values + fold9.values + fold10.values) / 10
preds.shape

(253146, 20)

In [ ]:
fold1.head()

         class0        class1  ...        class8        class9
0  2.726249e-02  1.093769e-02  ...  1.558786e-03  1.433243e-02
1  3.982104e-11  1.066195e-12  ...  1.327048e-12  5.376480e-16
2  2.168058e-09  6.908419e-10  ...  5.648852e-09  4.871569e-12
3  7.044303e-22  1.060709e-14  ...  8.559542e-16  2.799971e-19
4  6.196568e-26  1.579683e-15  ...  7.754078e-18  4.760929e-21

[5 rows x 20 columns]

In [ ]:
label = np.argmax(preds,axis=-1)
label.shape

(253146,)

In [ ]:
ss['LABEL'] = fold1.columns[label]
ss.head()

  SEQUENCE_ID    LABEL
0    000LRRAI  class15
1    000O8L4W  class10
2    000UKB5J  class10
3    00111SLH   class2
4    001ELB0A   class2

In [ ]:
ss.to_csv('ss_02212021_v1.csv',index=False)