<a href="https://colab.research.google.com/github/anindabitm/InstaDeep-Enzyme-Classification-Challenge/blob/main/Making_folds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import re
import os
import gc
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pickle
from sklearn.model_selection import train_test_split,StratifiedKFold

In [ ]:
import os
os.chdir('/content/drive/My Drive/instadeep')

# Creating Folds

In [ ]:
train = pd.read_csv('Train.csv')
train.shape

(858777, 4)

In [ ]:
skfold = StratifiedKFold(n_splits=5)
train['fold'] = -1

for f,(train_index,test_index) in enumerate(skfold.split(train,train.LABEL.values)):
  train.loc[test_index,'fold'] = f + 1

train.head()

  SEQUENCE_ID                                           SEQUENCE  ...    LABEL fold
0    00011UBJ  MPWQELSITVPHEYVEPISYLFGRYGKGVSTELAGNGQVLLRTYLT...  ...  class11    1
1    0001HZ3P  MGKLVIGSRGSELALWQANHIKERLKKECLIESEIQIVKTKGDKIL...  ...  class13    1
2    0003NJDO  MFIVAVLMLAFLIFVHELGHFTIARICGVKVEVFSIGFGKKLCFFK...  ...  class16    1
3    0003XVE3  MKNTSLSTTLTMNDTIAAIATPLGKGAISIIKISGHNALNILKQLT...  ...  class12    1
4    00049BS0  MGNRLTKIYTKTGDSGLTGLADGSRTEKDSLRIFVIGDVDELNSLL...  ...  class13    1

[5 rows x 5 columns]

In [ ]:
train.to_csv('Train1.csv',index=False)